/* ================================================================================
  #Reset
================================================================================ */
* { padding: 0; margin: 0; outline: 0; }

/* ================================================================================
  #Typography - 
================================================================================ */
body {
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #444444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-top: 0;
  text-rendering: optimizeLegibility; /*  voodoo to enable ligatures and kerning | https://developer.mozilla.org/en-US/docs/CSS/text-rendering */
  color: #222222;
  font-weight: 400;
}

h1,
.typl8-alpha {
  font-size: 72px;
  font-size: 4rem; /* 72 / 18 = 4 */
  margin-bottom: 8.91px;
  margin-bottom: 0.495rem;
}

h2,
.typl8-beta {
  font-size: 48px;
  font-size: 2.6667rem; /* 48 / 18 = 2.6667 */
  margin-bottom: 11.1375px;
  margin-bottom: 0.61875rem;
}

h3,
.typl8-gamma {
  font-size: 36px;
  font-size: 2rem; /* 36 / 18 = 2 */
  margin-bottom: 14.85px;
  margin-bottom: 0.825rem;
}

h4,
.typl8-delta {
  font-size: 24px;
  font-size: 1.3333333333333333rem; /* 24 / 18 = 1.3333 */
  margin-bottom: 22.275px;
  margin-bottom: 1.2375rem;
}

h5,
.typl8-epsilon {
  font-size: 21px;
  font-size: 1.16667rem; /* 21 / 18 = 1.1667 */
  margin-bottom: 25.45714px;
  margin-bottom: 1.41429rem;
}

h6,
.typl8-zeta {
  font-size: 18px;
  font-size: 1rem; /* 18 = 18 × 1 */
  margin-bottom: 29.7px;
  margin-bottom: 1.65rem;
}

li {
  font-size: 18px;
  font-size: 1rem; /* 18 = 18 × 1 */
}

p {
  margin: auto auto 1.5em; /* bottom margin for paragraphs */
}

p + p {
  text-indent: 1.5em; /* indent subsequent paragraphs */
  margin-top: -1.5em; /* no top margin on subsequent paragraphs */
}
a { text-decoration: none;  }


/* ================================================================================
  #Base
================================================================================ */
h2 {
  display: table;
  margin: auto;
  margin-bottom: 15px;
}
.line {
  height: 2px;
  width: 120px;
  display: block;
  margin: 0 auto;
  background: #888;
  margin-bottom: 5vh;
  transition: width .5s ease-in-out;
  &.scrolled-to {
    width: 200px;
  }
}
.btn { 
  display: inline-block;
  width: 80px; 
  height: 28px; 
  border: 2px solid #fff;
  line-height: 26px; 
  color: #fff; 
  text-align: center;
}

/* ================================================================================
  #Containers
================================================================================ */
.container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
section {
  padding: 5vh 0;
}

/* ================================================================================
  #Header
================================================================================ */
header {
  position: fixed;
  /* force hardware acceleration to fix webkit sticky header flashing */
  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  z-index: 999;
  height: 50px;
  width: 100%;
  background: rgba(91, 157, 215, .8);
  .container { 
    position: absolute; 
    left: 10%;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
  }
}
.logo {
  font-family: 'Montserrat', sans-serif; 
  font-size: 36px; 
  color: #fff; 
  text-transform: uppercase; 
  letter-spacing: 2px; 
}
.logo:hover { text-decoration: none; }

.nav-user { 
  display: flex;
  align-content: space-between;
}
.nav-user ul { overflow: hidden; list-style: none outside none; }
.nav-user li { float: left; }
.nav-user li ~ li { margin-left: 5px; }
.nav-user a { 
  /* display: block; */
  background: #5b9dd7; 
  font-family: 'Montserrat', sans-serif; 
  margin-left: 10px;
  font-size: 13px; 
  text-transform: uppercase; 
}

.nav-user li:first-child a:hover { background: #fc6254; }

.nav-user a {
  -webkit-transition: background-color .3s;
     -moz-transition: background-color .3s;
       -o-transition: background-color .3s;
          transition: background-color .3s; 
}


/* ================================================================================
  #Menu Animation
================================================================================ */
.menu { position: relative; display: block; width: 38px; height: 27px; padding: 23px 0 0 12px; cursor: pointer; }
.menu span:before,
.menu span,
.menu span:after { position: absolute; content: ''; display: block; width: 25px; height: 4px; background: #fff; }
.menu span:before { top: -8px; }
.menu span:after { bottom: -8px; }

/* .menu:hover, */
.opened .menu { background: #ea4031; }

.menu:hover span:before,
.menu:hover span,
.menu:hover span:after { background: #fff; }

.opened .menu span { background-color: transparent; }
.opened .menu span:before { top: 0; background: #fff; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.opened .menu span:after { top: 0; bottom: auto; background: #fff; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.menu,
.menu span:before,
.menu span,
.menu span:after { 
-webkit-transition: all .5s;
   -moz-transition: all .5s;
     -o-transition: all .5s;
        transition: all .5s; 
}

/* ================================================================================
  #Navigation
================================================================================ */
.main-nav { float: left; padding: 0 49px 0 0; }
.main-nav.opened ul { left: 0; opacity: 1; filter:alpha(opacity=100); }

.main-nav ul { position: absolute; top: 100%; left: -100%; z-index: 99; overflow: hidden; width: 100%; list-style: none outside none; opacity: 0; filter:alpha(opacity=0);}
.main-nav li { position: relative; overflow: hidden; float: left; width: 25%; }
.main-nav li a { position: relative; z-index: 7; overflow: hidden; display: block; height: 465px; padding-top: 235px; text-align: center; opacity: 1; }
.main-nav li a:hover { background-color: transparent; text-decoration: none; }
.main-nav li strong,
.main-nav li strong span { display: block; }
.main-nav li img { position: absolute; top: 0; left: -100%; z-index: 1; width: 100%; height: auto; opacity: 0; filter:alpha(opacity=0); }
.main-nav li img ~ img { display: none; }
.main-nav li:hover img { left: 0; opacity: 1; filter:alpha(opacity=100);  }
.main-nav strong { display: block; padding-bottom: 36px; font-family: 'Proxima Nova Bold'; font-size: 36px; line-height: 1.06; color: #fff; text-transform: uppercase; }
.home strong { padding: 25px 0 49px; }
.about strong { color: #1b2f5d; }

.main-nav .nav-user { display: none; }

.home { background: #ea4031; }
.seller { background: #5b9dd7; }
.dealer { background: #1b2f5d; }
.about { background: #fff; }

.home .btn { color: #ea4031; }
.seller .btn { color: #5b9dd7; }
.dealer .btn { color: #1b2f5d; }
.about .btn { background: #1b2f5d; color: #fff; }
.main-nav a:hover .btn { background: #ea4031; color: #fff; }

.main-nav ul {
  -webkit-transition: left .8s, opacity .8s;
     -moz-transition: left .8s, opacity .8s;
       -o-transition: left .8s, opacity .8s;
          transition: left .8s, opacity .8s; 
}

.main-nav a {
  -webkit-transition: opacity .3s;
     -moz-transition: opacity .3s;
       -o-transition: opacity .3s;
          transition: opacity .3s; 
}
.main-nav img {
  -webkit-transition: left .3s, opacity .3s;
     -moz-transition: left .3s, opacity .3s;
       -o-transition: left .3s, opacity .3s;
          transition: left .3s, opacity .3s; 
}


/* ================================================================================
  #Hero
================================================================================ */

.hero {
  position: relative;
  height: 75vh;
  background-image: url("../img/hero_bg_placeholder.png");
  text-align: left;
  .hero-text , .video {
    top: 40vh;
    transform: translateY(-50%);
  }
  .video {
    position: absolute;
    width: 15%;
    left: 15%;
    img {
      width: 100%;
      height: auto;
    }
  }
  .hero-text {
    position: relative;
    text-align: right;
    padding-left: 50%;
    .btn {
      width: 120px;
      background: #EA4031;
      border-color: #EA4031;
    }
  }
  h1, p { color: #fff; }
  h1 {
    margin-bottom: 5vh;
  }
}

/* ================================================================================
  #How it works
================================================================================ */
.how-it-works {
  position: relative;
  .container {
  display: flex;
  justify-content: space-between;
  }
  .step {
    width: 30%;
    text-align: center;
    position: relative;
    a {
      position: absolute;
      bottom: 17vh;
      display: inline-block;
      width: 5vh;
      text-align: center;
      font-size: 3vh;
      height: 5vh;
      line-height: 5vh;
      color: white;
      background: #5B9DD7;
      border-radius: 5vh;
      transform: translate(-50%,-50%);
    }
    img {
      max-width: 100%;
      margin-bottom: 10vh;
      position: relative;
      left: -14%;
    }
  }
  .second a, .third a {
    background: #B3B3B3;
  }
  .step-text {
    height: 18vh;
  }
  .progress {
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    background: #ECF0F6;
    height: 28vh;
    a {
      position: absolute;
      top: -1.5vh;
      left: 22%;
      display: inline-block;
      width: 5vh;
      height: 5vh;
      background: #5B9DD7;
      border-radius: 5vh;
      transform: translateX(-50%);
      transition: left .3s ease-in-out;
      &.second-step {
        left: 50%;
      }
      &.third-step {
        left: 78%;
      }
    }
    &:before {
      content: "";
      border-top: 2vh solid #B3B3B3;
      display: block;
    }
    &:after {
      content: "";
      border-top: 2vh solid #5B9DD7;
      display: block;
      position: absolute;
      width: 22%;
      top: 0;
      transition: width .3s ease-in-out;
    }
    &.second-step:after {
      width: 50%;
    }
    &.third-step:after {
      width: 78%;
    }
    &.finished:after {
      width: 100%;
    }
  }
}

/* ================================================================================
  #Recently Sold
================================================================================ */
.recently-sold {
  position: relative;
  .price {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 80px solid #00D060;
    border-right: 80px solid transparent;
    display: inline-block;
    top: 0%;
    left: 0%;
    color: #fff;
  }
    span {
      position: absolute;
      transform: rotate(-45deg);
      color: #fff;
      top: 20px;
    }
  .entry {
    h4 {
      margin : 15px 0;
      &:after {
        content: "";
        border-bottom: 2px solid #ECF0F6;
        width: 100%;
        position: relative;
        margin-top: 15px;
        display: inline-block;
      }
    }
    ul {
      list-style: none;
    }
  }
  .thumb {
    border: 2px solid #ECF0F6;
  }
  table {
    width: 100%;
    tr {
      height: 30px;
    }
  }
}

/* ================================================================================
  #Why Carzell
================================================================================ */
.why-carzell {
  position: relative;
  .benefit  {
    height: 50%;
    position: relative;
  }
  .gradient {
    position: absolute;
    top: 0;
    height: 30%;
    width: 100%;
    background: linear-gradient(#f6f6f6, #fff);
    z-index: -1;
  }
  .line {
    margin-bottom: 0;
  }
  img {
    width: 50%;
    height: auto;
  }
  .get-more {
    img:nth-child(n+2) {
      clip-path: polygon(0 100%, 100% 53%, 100% 100%, 0% 100%);
      position: absolute;
      bottom: 0;
      left: 0;
      transition: all 2s ease-out;
      &.loaded {
        clip-path: polygon(0 45%, 100% 0, 100% 100%, 0% 100%);
      }
    }
    .get-more-text {
      left: 50%;
    }
  }
  hr {
    width: 80%;
    margin: 0 auto;
    border-color: #dcdcdc;
  }
  .sell-quickly {
    img {
      position: relative;
      left: 50%;
    }
    img {
      &:nth-child(2) {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); 
      }
      &:nth-child(3) {
        clip-path: polygon(0 0, 8% 0, 8% 100%, 0 100%);
      }
      &:nth-child(-n+3) {
        position: absolute;
        left: 50%;
        transition: all 4s ease-out;
        &.loaded {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
      }
    }
    .sell-quickly-text {
      left: 15%;
    }
  }
  .get-more-text, .sell-quickly-text {
    width: 35%;
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    h3 {
      font-weight: 300;
    }
    h5 {
      font-weight: 600;
      color: #5DC560;
    }
    a {
      font-size: 1rem;
      color: #5DC560;
    }
  }
}

/* ================================================================================
  #Dealer
================================================================================ */
.dealer-section {
  background: #5B9DD7;
  color: #fff;
  text-align: center;
  padding: 3vh 0;
  h2 {
    color: #fff;
  }
  .line {
    background: #fff;
  }
  .btn {
    width: 120px;
  }
}

/* --- bx-slider overrides --- */
.bx-wrapper {
  box-shadow: none;
  background-color: transparent;
  border: none;
  .bx-next {
    background: url("../img/controls.png") no-repeat -43px -32px;
    right: -8%;
  }
  .bx-prev {
    background: url("../img/controls.png") no-repeat 0 -32px;
    left: -8%;
  }
  .bx-loading {
    background: url(../img/bx_loader.gif) center center no-repeat #ffffff;
  }
}

/* ================================================================================
  #Footer
================================================================================ */
footer {
  background-color: #2A2C30;
  padding: 12vh 0;
  color: #fff;
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    li {
      margin: 5px 20px;
      text-align: center;
    }
  }
  .social {
    text-align: right;
    margin-top: 20px;
    img {
      width: 35px;
      height: auto;
    }
  }
}


/* ================================================================================
  #Footer
================================================================================ */
.video-playing {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 1000;
}
.video-playing iframe {
  width: 800px;
  margin: 80px auto;
  display: block;
}

/* All Mobile Sizes (devices and browsers) */
@media only screen and (max-width: 767px) {

  footer {
    .row {
      flex-direction: column;
      .logo {
        margin-bottom: 50px;
      }
    }
  }

}
