/* ================================================================================
  #Reset
================================================================================ */
* { padding: 0; margin: 0; outline: 0; }

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ================================================================================
  #Typography - 
================================================================================ */
body {
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #444444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-top: 0;
  text-rendering: optimizeLegibility; /*  voodoo to enable ligatures and kerning | https://developer.mozilla.org/en-US/docs/CSS/text-rendering */
  color: #222222;
  font-weight: 400;
}

h1,
.typl8-alpha {
  font-size: 72px;
  font-size: 4rem; /* 72 / 18 = 4 */
  margin-bottom: 8.91px;
  margin-bottom: 0.495rem;
}

h2,
.typl8-beta {
  font-size: 48px;
  font-size: 2.6667rem; /* 48 / 18 = 2.6667 */
  margin-bottom: 11.1375px;
  margin-bottom: 0.61875rem;
}

h3,
.typl8-gamma {
  font-size: 36px;
  font-size: 2rem; /* 36 / 18 = 2 */
  margin-bottom: 14.85px;
  margin-bottom: 0.825rem;
}

h4,
.typl8-delta {
  font-size: 24px;
  font-size: 1.3333333333333333rem; /* 24 / 18 = 1.3333 */
  margin-bottom: 22.275px;
  margin-bottom: 1.2375rem;
}

h5,
.typl8-epsilon {
  font-size: 21px;
  font-size: 1.16667rem; /* 21 / 18 = 1.1667 */
  margin-bottom: 25.45714px;
  margin-bottom: 1.41429rem;
}

h6,
.typl8-zeta {
  font-size: 18px;
  font-size: 1rem; /* 18 = 18 × 1 */
  margin-bottom: 29.7px;
  margin-bottom: 1.65rem;
}

li {
  font-size: 18px;
  font-size: 1rem; /* 18 = 18 × 1 */
}

p {
  margin: auto auto 1.5em; /* bottom margin for paragraphs */
}

p + p {
  text-indent: 1.5em; /* indent subsequent paragraphs */
  margin-top: -1.5em; /* no top margin on subsequent paragraphs */
}
a { text-decoration: none;  }


/* ================================================================================
  #Base
================================================================================ */
h2 {
  display: table;
  margin: auto;
  margin-bottom: 15px;
}
.line {
  height: 2px;
  width: 120px;
  display: block;
  margin: 0 auto;
  background: #888;
  margin-bottom: 5vh;
  transition: width .5s ease-in-out;
  &.scrolled-to {
    width: 200px;
  }
}
.btn { 
  display: inline-block;
  width: 130px; 
  height: 32px; 
  border: 2px solid #fff;
  line-height: 26px; 
  font-size: 13px;
  color: #fff; 
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  transition: background-color .3s;
}

/* ================================================================================
  #Containers
================================================================================ */
.container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
section {
  padding: 5vh 0;
}

/* ================================================================================
  #Header
================================================================================ */
header {
  position: fixed;
  /* force hardware acceleration to fix webkit sticky header flashing */
  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  z-index: 999999;
  height: 50px;
  width: 100%;
  background: rgba(91, 157, 215, .8);
  .container { 
    position: absolute; 
    left: 10%;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
  }
}
.logo {
  font-family: 'Montserrat', sans-serif; 
  font-size: 36px; 
  color: #fff; 
  text-transform: uppercase; 
  letter-spacing: 2px; 
}
.logo:hover { text-decoration: none; }

.nav-user { 
  display: flex;
  align-content: space-between;
}
.nav-user ul { overflow: hidden; list-style: none outside none; }
.nav-user li { float: left; }
.nav-user li ~ li { margin-left: 5px; }
.nav-user a { 
  background: #5b9dd7; 
  font-family: 'Montserrat', sans-serif; 
  margin-left: 10px;
  width: 100px;
  font-size: 13px; 
  text-transform: uppercase; 
}

.nav-user li a:hover { background: #fc6254; }

.nav-user a {
  -webkit-transition: background-color .3s;
     -moz-transition: background-color .3s;
       -o-transition: background-color .3s;
          transition: background-color .3s; 
}


/* ================================================================================
  #Menu Animation
================================================================================ */
.menu { position: relative; display: block; width: 38px; height: 100%; padding: 23px 0 0 12px; cursor: pointer; }
.menu span:before,
.menu span,
.menu span:after { position: absolute; content: ''; display: block; width: 25px; height: 4px; background: #fff; }
.menu span:before { top: -8px; }
.menu span:after { bottom: -8px; }

.menu:hover span:before,
.menu:hover span,
.menu:hover span:after { background: #fff; }

.opened .menu span { background-color: transparent; }
.opened .menu span:before { top: 0; background: #fff; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.opened .menu span:after { top: 0; bottom: auto; background: #fff; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.menu,
.menu span:before,
.menu span,
.menu span:after { 
-webkit-transition: all .5s;
   -moz-transition: all .5s;
     -o-transition: all .5s;
        transition: all .5s; 
}

/* ================================================================================
  #Navigation
================================================================================ */
.main-nav { height: 100%; float: left; padding: 0 49px 0 0; }
.main-nav.opened ul { left: 0; height: 100vh; opacity: 1; filter:alpha(opacity=100); }

.main-nav ul { position: absolute; top: 100%; left: -100%; z-index: 99; overflow: hidden; width: 100%; list-style: none outside none; opacity: 0; filter:alpha(opacity=0);}
.main-nav li { position: relative; overflow: hidden; height: 100%; float: left; width: 25%; padding: 0 5%;}
.main-nav li a { position: relative; z-index: 7; overflow: hidden; display: block; height: 465px; padding-top: 235px; text-align: center; opacity: 1; }
.main-nav li a:hover { background-color: transparent; text-decoration: none; }
.main-nav li strong,
.main-nav li strong span { display: block; }
.main-nav li img { position: absolute; top: 0; left: -100%; z-index: 1; width: 100%; height: auto; opacity: 0; filter:alpha(opacity=0); }
.main-nav li img ~ img { display: none; }
.main-nav li:hover img { left: 0; opacity: 1; filter:alpha(opacity=100);  }
.main-nav strong { display: block; padding-bottom: 36px; font-size: 36px; line-height: 1.06; color: #fff; text-transform: uppercase; }
.home strong { padding: 25px 0 49px; }
.about strong { color: #1b2f5d; }

.main-nav .nav-user { display: none; }

.home { background: #ea4031; }
.seller { background: #5b9dd7; }
.dealer { background: #1b2f5d; }
.about { 
  background: #fff; 
  .btn {
    border: 2px solid #1b2f5d;
    color: #1b2f5d;
  }
}

.home a:hover .btn { color: #ea4031; }
.seller a:hover .btn { color: #5b9dd7; }
.dealer a:hover .btn { color: #1b2f5d; }
.about a:hover .btn { background: #1b2f5d; color: #fff; }
.main-nav a:hover .btn { background: #ea4031; color: #fff; }
.main-nav a:hover .btn {
  background: #fff;
}
.main-nav .home a:hover .btn {
  color: #ea4031;
}
.main-nav .seller a:hover .btn {
  color: #5b9dd7;
}
.main-nav .dealer a:hover .btn {
  color: #1b2f5d;
}
.main-nav .about a:hover .btn {
  background-color: #1b2f5d;
}


.main-nav ul {
  -webkit-transition: left .8s, opacity .8s;
     -moz-transition: left .8s, opacity .8s;
       -o-transition: left .8s, opacity .8s;
          transition: left .8s, opacity .8s; 
}

.main-nav a {
  -webkit-transition: opacity .3s;
     -moz-transition: opacity .3s;
       -o-transition: opacity .3s;
          transition: opacity .3s; 
}
.main-nav img {
  -webkit-transition: left .3s, opacity .3s;
     -moz-transition: left .3s, opacity .3s;
       -o-transition: left .3s, opacity .3s;
          transition: left .3s, opacity .3s; 
}


/* ================================================================================
  #Hero
================================================================================ */

.hero {
  position: relative;
  height: 85vh;
  /* background-image: url("../img/hero_bg_placeholder.png"); */
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ),
  url("../img/hero_bg_placeholder-2.jpg");

  background-position: center;
  background-size: cover;
  text-align: left;
  .hero-text, .video-thumb {
    top: 40vh;
    transform: translateY(-50%);
  }
  .video-thumb {
    position: absolute;
    width: 30vh;
    height: 20vh;
    right: 15%;
    background: url("../img/video-thumb.png");
    background-size: cover;
    border: 3px solid #fff;
    &:hover {
      background: 
        linear-gradient(
          rgba(255, 255, 255, 0.4), 
          rgba(255, 255, 255, 0.4)
        ),
      url("../img/video-thumb.png");
      background-size: cover;
    }
    .play {
      position: absolute;
      top: 50%;
      left: 54%;
      height: 70%;
      width: auto;
      transform: translate(-50%, -50%);
    }
  }
  .hero-text {
    position: absolute;
    text-align: left;
    padding-right: 50%;
    .btn {
      width: 150px;
      height: 45px;
      line-height: 40px;
      font-size: 16px;
      background: #EA4031;
      border-color: #fff;
      &:hover {
        background: #fff;
        color: #ea4031;
      }
    }
  h1, p { 
    color: #fff; 
  }
  h1 {
    margin-bottom: 5vh;
    font-weight: 300;
  }
  p {
    margin-right: 25%;
    font-size: 1.333rem;
  }
  }
}

/* ================================================================================
  #How it works
================================================================================ */
.how-it-works {
  position: relative;
  .container {
  display: flex;
  justify-content: space-between;
  }
  .step {
    width: 30%;
    text-align: center;
    position: relative;
    span {
      position: absolute;
      bottom: 17vh;
      display: inline-block;
      width: 5vh;
      left: 50%;
      text-align: center;
      font-size: 3vh;
      height: 5vh;
      line-height: 5vh;
      color: white;
      background: #5B9DD7;
      border-radius: 5vh;
      transform: translate(-50%,-50%);
    }
    img {
      max-width: 100%;
      margin-bottom: 10vh;
      position: relative;
      left: -14%;
    }
  }
  .second span, .third span {
    background: #B3B3B3;
  }
  .step-text {
    height: 18vh;
  }
  .progress {
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    background: #ECF0F6;
    height: 28vh;
    span {
      position: absolute;
      top: -1.5vh;
      left: 22%;
      display: inline-block;
      width: 5vh;
      height: 5vh;
      background: #5B9DD7;
      border-radius: 5vh;
      transform: translateX(-50%);
      transition: left .3s ease-in-out;
      &.second-step {
        left: 50%;
      }
      &.third-step {
        left: 78%;
      }
    }
    &:before {
      content: "";
      border-top: 2vh solid #B3B3B3;
      display: block;
    }
    &:after {
      content: "";
      border-top: 2vh solid #5B9DD7;
      display: block;
      position: absolute;
      width: 22%;
      top: 0;
      transition: width .3s ease-in-out;
    }
    &.second-step:after {
      width: 50%;
    }
    &.third-step:after {
      width: 78%;
    }
    &.finished:after {
      width: 100%;
    }
  }
}

/* ================================================================================
  #Recently Sold
================================================================================ */
.recently-sold {
  position: relative;
  .price {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 100px solid #00D060;
    border-right: 100px solid transparent;
    display: inline-block;
    top: 0%;
    left: 0%;
    color: #fff;
  }
    span {
      position: absolute;
      transform: rotate(-45deg);
      color: #fff;
      top: 24px;
      left: 0;
      font-size: 24px;
      font-size: 1.3333rem;
    }
  .entry {
    h4 {
      margin : 15px 0;
      &:after {
        content: "";
        border-bottom: 2px solid #ECF0F6;
        width: 100%;
        position: relative;
        margin-top: 15px;
        display: inline-block;
      }
    }
    ul {
      list-style: none;
    }
    &:after {
      content: "";
      border-bottom: 2px solid #ECF0F6;
      width: 100%;
      position: relative;
      margin-top: 15px;
      display: inline-block;
    }
  }
  .thumb {
    border: 2px solid #ECF0F6;
  }
  table {
    width: 100%;
    tr {
      height: 30px;
    }
  }
}

/* ================================================================================
  #Why Carzell
================================================================================ */


/* Safari handles clip-path animations better than clip-path transitions. These animations are used in the charts */
@keyframes get-more-clip {
  0% {
    clip-path: polygon(0 100%, 100% 53%, 100% 100%, 0% 100%);
  }
   100% {
    clip-path: polygon(0 41%, 100% 0, 100% 100%, 0% 100%);
  }
}
@keyframes private-sale-clip {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
   100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
@keyframes carzell-sale-clip {
  0% {
    clip-path: polygon(0 0, 8% 0, 8% 100%, 0 100%);
  }
   100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

.why-carzell {
  position: relative;
  .benefit  {
    height: 50%;
    position: relative;
    a {
      &:hover {
        font-weight: 600;
      }
    }
  }
  .gradient {
    position: absolute;
    top: 0;
    height: 30%;
    width: 100%;
    background: linear-gradient(#f6f6f6, #fff);
    z-index: -1;
  }
  .line {
    margin-bottom: 0;
  }
  img {
    width: 50%;
    height: auto;
  }
  .get-more {
    img:nth-child(n+2) {
      position: absolute;
      clip-path: polygon(0 100%, 100% 53%, 100% 100%, 0% 100%);
      top: 0;
      left: 0;
      /* transition: all 2s ease-out; */
      &.loaded {
        animation: get-more-clip 2s ease-out forwards;
      }
    }
    .get-more-text {
      left: 50%;
    }
  }
  hr {
    width: 80%;
    margin: 0 auto;
    border-color: #dcdcdc;
  }
  .sell-quickly {
    img {
      position: relative;
      left: 50%;
    }
    img {
      transition: all 4s ease-out;
      &:nth-child(2) {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
        &.loaded {
          animation: private-sale-clip 4s ease-out forwards;
        }
      }
      &:nth-child(3) {
        clip-path: polygon(0 0, 8% 0, 8% 100%, 0 100%);
        &.loaded {
          animation: carzell-sale-clip 4s ease-out forwards;
        }
      }
      &:nth-child(-n+3) {
        position: absolute;
        left: 50%;
      }
    }
    .sell-quickly-text {
      left: 15%;
    }
  }
  .get-more-text, .sell-quickly-text {
    width: 35%;
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    h3 {
      font-weight: 300;
    }
    h5 {
      font-weight: 600;
      color: #5DC560;
    }
    a {
      font-size: 1rem;
      color: #5DC560;
    }
  }
}

/* ================================================================================
  #Testimonials
================================================================================ */
.testimonials {
  background-color: #F7F7F7;
  .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    .speech-bubble {
      position: relative;
      padding: 30px;
      border: 2px solid #B3B3B3;
      width: 45%;
      blockquote {
        quotes: "\201C""\201D";
        padding: 0.5em 10px;
        &:before {
          color: #CCCCCC;
          content: open-quote;
          font-size: 4rem;
          line-height: 0.1em;
          margin-right: 0.25em;
          vertical-align: -0.4em;
        }
        p {
          display: inline;
          position: relative;
          line-height: 1.333em;
          &:after {
            color: #CCCCCC;
            content: close-quote;
            font-size: 4rem;
            position: relative;
            top: 0.125em;
            left: 0.25em;
            vertical-align: -0.4em;
          }
        }
      }
      .author {
        display: flex;
        align-items: center;
        img {
          clip-path: circle(39% at 50% 50%);
          width: 100px;
          height: auto;
        }
        .author-info {
          margin-left: 15px;
          .author-name {
            font-size: 1.333rem;
            font-weight: 300;
            color: #5B9DD7;
          }
          .author-location {
            font-style: italic;
          }
          span {
            display: block;
          }
        }
      }
      &:after {
          width: 0;
          height: 0;
          border-left: 50px solid transparent;
          border-right: 50px solid transparent;
          border-top: 100px solid red;
      }
      .tri-down {
          position: absolute;
          bottom: -1px;
          left: 0;
          transform: translateY(50%);
          width: 100%;
          border-bottom: 2px solid #B3B3B3;
          &:before, &:after {
              content: "";
              position: absolute;
              width: 0;
              height: 0;
              border-style: solid;
              border-color: transparent;
              border-bottom: 0;
          }
          &:after {
            bottom: -13px;
            left: 20px;
            border-top-color: #F7F7F7;
            border-width: 15px;
          }
          &:before {
            bottom: -16px;
            left: 21px;

            /* If 1px darken stroke slightly */
            border-top-color: #B3B3B3;
            border-width: 14px;
          }
        }
    }
  }
}

/* ================================================================================
  #Dealer
================================================================================ */
.dealer-section {
  background: #5B9DD7;
  color: #fff;
  text-align: center;
  padding: 4vh 0;
  h2 {
    color: #fff;
  }
  .line {
    background: #fff;
  }
  .btn {
    width: 120px;
    &:hover {
      background-color: #fff;
      color: #5B9DD7;
    }
  }
}

/* --- bx-slider overrides --- */
.bx-wrapper {
  box-shadow: none;
  background-color: transparent;
  border: none;
  .bx-next {
    background: url("../img/controls.png") no-repeat -43px -32px;
    right: -8%;
  }
  .bx-prev {
    background: url("../img/controls.png") no-repeat 0 -32px;
    left: -8%;
  }
  .bx-loading {
    background: url(../img/bx_loader.gif) center center no-repeat #ffffff;
  }
}

/* ================================================================================
  #Footer
================================================================================ */
footer {
  background-color: #2A2C30;
  padding: 12vh 0;
  color: #fff;
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
    li {
      margin: 8px 0 8px 20px;
      text-align: center;
      a {
        color: #fff;
        &:hover {
          color: #5B9DD7;
        }
      }
    }
  }
  .social {
    text-align: right;
    margin-top: 20px;
    img {
      width: 35px;
      height: auto;
    }
  }
}


/* ================================================================================
  #Video overlay
================================================================================ */
.video-playing {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 10000000;
}

.video-playing iframe {
  width: 800px;
  height: 85%;
  margin: 5% auto;
  display: block;
}

/* ================================================================================
  #Media queries (responsive)
================================================================================ */


@media only screen and (min-width: 1024px) {

}



@media only screen and (max-width: 1450px) { 
  .nav li img { width: auto; height: 100%; }
}

@media only screen and (max-width: 1245px) { 



}

/* iPad Landscape */
@media only screen and (max-width: 1024px) {

  .how-it-works {
    .container {
      .step {
        .step-text {
          h3 {
            font-size: 1.333rem;
          }
        }
      }
    }
  }
  .why-carzell {
    .get-more {
      margin: 20px 0 20px 0;
      .get-more-text {
        width: 40%;
      }
    }
    .sell-quickly {
      margin-top: 20px;
    }
  }
}

/* All Mobile Sizes (devices and browsers) */
@media only screen and (max-width: 767px) {

  .main-nav ul li a { display: block; height: 350px; padding-top: 0;  }
  .main-nav li img { width: 100%; height: auto; }
  .main-nav li img:first-child { display: none; }
  .main-nav li img ~ img { display: block; }
  .main-nav li.about img { position: absolute; top: auto; bottom: 0; width: 100%; height: auto; }
  .main-nav > ul > li { float: none; width: 100%; padding-top: 0; height: 55px; background: #ea4031; text-align: left; }
  .main-nav > ul > li ~ li { border-top: 1px solid #9e3b38; }
  .main-nav > ul > li a { height: 55px; padding: 0 26px; font-family: 'Montserrat', sans-serif; font-size: 18px; color: #fff; line-height: 55px; }
  .main-nav > ul > li img { display: none; }
  .main-nav a strong { float: left; }
  .main-nav .btn { display: none; }
  .main-nav .icon-nav-arrow { display: block; }
  .main-nav > ul > li strong { padding: 0; font-size: 16px; line-height: 55px; text-align: left; color: #fff; }
  .main-nav > ul > li strong span { display: inline-block; }


  .container {
    width: 95%;
  }
  h1 {
    font-size: 2.666rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.333rem;
  }
  p {
    font-size: 1rem;
  }
  header {
      .container {
        justify-content: flex-end;
        .nav-user {
          display: none;
        }
        .logo {
          margin-right: 7.5%;
        }
        &.opened {
            .nav-user {
              display: flex;
            }
        }
      }
  }
  footer {
    .row {
      flex-direction: column;
      .logo {
        margin-bottom: 50px;
      }
      .footer-links {
        justify-content: center;
      }
    }
  }
  h2 {
    text-align: center;
  }
  .hero {
    height: 100vh;
    .container, .hero-text { height: 100%;}
    .video-thumb {
      left: 50%;
      top: 54%;
      transform: translate(-50%, -50%);
      width: 35vh;
      height: 23vh;
    }
    .hero-text {
      padding-right: 0%;
      text-align: center;
      width: 100%;
      /* margin-top: 2vh; */
      h1 {
        top: 15vh;
      }
      h1, p, a { position: absolute;}
      p {
        margin-right: 0;
        bottom: 6vh;
      }
      a {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .how-it-works {
    .progress {
      display:  none;
    }
    .container {
      flex-flow: column;
      .step {
        width: 100%;
        margin-bottom: 5vh;
        img {
          left: 0;
          margin-bottom: 3vh;
        }
        span {
          display: none;
        }
      }
    }
  }
  .recently-sold {
    .bx-prev {
      left: 0;
    }
    .bx-next {
      right: 0;
    }
  }
  .why-carzell {
    img {
      width: 100%;
    }
    .get-more-text, .sell-quickly-text {
      width: 100%;
      position: static;
      width: 100%;
      transform: none;
      padding: 0 5%;
    }
    .get-more .get-more-text {
      width: 100%;
      margin-bottom: 25px;
    }
    .sell-quickly {
      display: flex;
      flex-flow: column-reverse;
      img {
        left: 0 !important;
        position: absolute;
        top: 0;
        &:last-child {
          position: static;
        }
      }
    }
  }
  .testimonials {
    .container {
      flex-flow: column;
      align-items: center;
      .speech-bubble {
        width: 100%;
        &:first-child {
          margin-bottom: 30px;
        }
      }
    }
  }
  .video-playing iframe {
    width: 100%;
    height: 80%;
    margin: 80px auto;
    display: block;
  }
}

